<% provide :button_text, "Edit book" %>
<h1>Edit Book</h1>
<%= form_for @book, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.select :category_id, @categories %>
  </div>
  <div class="field">
    <%= f.file_field :book_img %>
  </div>
  <div class="field">
    <%= f.label :title %> 
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :descripton %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
   <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
   </div>
    
  <div class="field">
    <%= f.submit yield(:button_text) %>
  </div>
 
<% end %>

