<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Book Review", root_path, class: "navbar-brand text-muted" %>
    </div>
    <ul class="nav mr-auto ">
      
      <% if user_signed_in? %>
        <li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=  current_user.name %> 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Sign Out", destroy_user_session_path, 
                method: :delete, class: "text-muted" %>
            </div>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to "Log In", new_user_session_path, class: "text-muted ml-2" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, 
            class: "mr-3 text-muted ml-3" %>
      </li>
      <% end %>
    </ul>

    <ul class="nav">
      <li class="dropdown mr-5">
        <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown" 
          role="button" aria-expended="false">Categories
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
            <li class="<%= 'active' if params[:category] == category.name %>">
              <%= link_to category.name, books_path(category: category.name), 
                class: "link text-secondary" %>
            </li>
          <% end %>
        </ul>
      </li>

      <% if user_signed_in? %>
        <li>
          <%= link_to t("Add Book"), new_book_path, class: "text-muted mr-3" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>